<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div id="content">
            <!-- Header -->
            {% block header %}
            {% endblock header %}

            <!-- Posts -->
            {% for post in posts %}
              {% include "post" %}
            {% endfor %}
        </div>
        <div id="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </body>
</html>
